name: Pre-Release Package

on:
  release:
    types: 
      - prereleased

env:
  HUSKY: 0

permissions:
  contents: read
  packages: write

jobs:
  prerelease-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Node.js v16
        uses: actions/setup-node@v6
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/

      - name: Install Dependencies
        run: npm install
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Build Package
        run: npm run build

      - name: Publish Package
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
